<div style="padding-top:125px">
{{#each model as |restaurant|}}
  <div class="restaurantTile">
    {{restaurant-tile restaurant=restaurant}}
  </div>
{{/each}}
  <div class="restaurantTile">
    {{new-restaurant saveRestaurant="saveRestaurant"}}
  </div>
</div>
